

.container{
  width: 1000px;
  background-color: #fff;
  margin: 80px auto;
  height: 80vh;
}
.blocks{
  display: flex;
  width: 100%;
  position: relative;
}
.Sign{
  display: flex;
  width: 100%;
}
.block{
  width: 50%;
  height: 80vh;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .6s ease-in-out;
  background-color: #fff;
}


